@import url("https://fonts.google.com/specimen/Poppins?specimen.preview.text=abcdefghijklmnopqatusracv");
:root {
  --color-bg: #edeee9;
  --color-text: #000000;
  --color-primary: #1f3a2e;
  --mainfont: "Poppins", sans-serif;
}

body {
  font-family: var(--mainfont); /* Pflicht */
  background-color: var(--color-bg); /* Extra */
}

h1 {
  color: var(--color-primary); /* Extra */
}

p {
  color: var(--color-text);
}

.images {
  margin: 10px; /* oder einen anderen Wert */
}
