@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --color-bg: #edeee9;
  --color-text: #000000;
  --color-primary: #1f3a2e;
}

body {
  font-family: "Arial", sans-serif; /* Pflicht */
  background-color: #f5f5f5; /* Extra */
}

h1 {
  color: var(--color-primary); /* Extra */
}

p {
  color: var(--color-text);
}

.images {
  margin: 10px; /* oder einen anderen Wert */
}
